<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> All Users</title>
</head>
<body>
<h2>All Users</h2>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>age</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getSurname()}"/>
        <td th:text="${user.getAge()}"/>
        <td>
            <form th:method="GET" th:action="@{/update/{id}(id=${user.getId()})}">
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <form th:method="POST" th:action="@{/delete/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<br>
<button value="Add" onclick="window.location.href = 'addUser'">add</button>
</body>
</html>